<h2>Rick's Mavens Dashboard</h2>

<%= button_to 'View/Edit Players', '/players', method: :get, class: 'ui green button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'Sync From Mavens', '/sync', method: :get, class: 'ui orange button huge' %>
<br/>
<br/>
<br/>
<%= button_to 'Make Pairings, Send Emails, and Adjust Balances (Warning: Cannot be undone!)', '/pairing', method: :get, class: 'ui red button small' %>
